@use 'variables';

.conocimientos{
    padding-top: 100px;
    text-align: center;
    &-container{
        h1{ 
            @include variables.estilosDeTextos(variables.$primerColor, 900, 30px);
            padding-bottom: 20px;
        }
        h2{ 
            @include variables.estilosDeTextos(variables.$primerColor, 900, 25px);
            padding-bottom: 20px;
        }

        p{
            @include variables.estilosDeTextos(variables.$segundoColor, 700, 18px);
            padding: 14px;
        }
        ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-bottom: 25px
        }
        li{
            @include variables.estilosDeTextos(variables.$segundoColor, 700, 20px);
            line-height: 1;
            
        }
        & > ul:last-of-type {
            li{
                @include variables.estilosDeTextos(variables.$segundoColor, 700, 25px);
            }
        }

    }
}