@use 'variables';
@use 'animaciones';
.hero{
    &-container {
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 80px;

        animation-name: cargar;
        animation-duration: 1s;
        img {
            width: 300px;
            margin-top: 30px;
        }
        h1{
            @include variables.estilosDeTextos(variables.$primerColor, 900, 30px);
            margin-top: 10px;
        }
        h2{
            @include variables.estilosDeTextos(variables.$segundoColor, 600, 20px);
        }
        p{
            @include variables.estilosDeTextos(variables.$segundoColor, 600, 15px);
            padding: 15px;
        }
    }
}